<section class="thirteen columns">
    <h1>Éducation</h1>
    <article>
        <header>
            <h1>DUT option MLP</h1>
            <span>Université de Nanterre</span>
            <span><address>Saint-Cloud, FR</address><time>2008 à 2010</time></span>
        </header>
        <p>
            <em>Activités et associations : Représentant des étudiants au conseil d'administration (2009/2010), Tuteur C2i.</em>
        </p>
    </article>
</section>
