<section class="thirteen columns">
    <h1>Expérience</h1>
    <article>
        <header>
            <h1>Ingénieur réseau et systèmes</h1>
            <span><address>Klee Group, Le Plessis-Robinson, FR</address><time>2023 - Aujourd’hui</time></span>
        </header>
        <p>Construit et maintient des infrastructures fiables sur différentes plateformes cloud telles que AWS, Outscale et Openstack (OVH Cloud).</p>
        <br> <!-- New line --> 
        <p>Met en place des pipelines CI/CD en utilisant Gitlab, Terraform et Ansible dans le but d'automatiser les tests, le déploiement et la configuration.</p>
        <br> <!-- New line --> 
        <p>Configure et gère des serveurs web tels que Apache/Tomcat, IIS et Nginx pour assurer la performance et la sécurité optimales des applications web.</p>
        <br> <!-- New line --> 
		<p>Surveille et résout les incidents ainsi que les problèmes de performance en utilisant les outils ELK et Centreon.</p>
        <br> <!-- New line --> 
		<p>Travaille dans un environnement agile en utilisant Jira et Confluence pour collaborer avec les membres de l’équipe et les parties prenantes.</p>
    </article>
    <article>
        <header>
            <h1>Administrateur système</h1>
            <span><address>ICD, Meudon, FR</address><time>2021 - 2023</time></span>
        </header>
        <p>Poste au sein d’une petite équipe gérant l’infrastructure d’une PME B2B.</p>
        <br> <!-- New line -->
        <p>Technologies utilisées : Linux/Unix (Debian), Windows Server, Ansible, Git, Tomcat, Apache, Nginx, Office365, vSphere, ESXi, Proxmox, MySQL (MariaDB), HAProxy, OCS, OpenVPN, Powershell, Shell, Python.</p>
        <br> <!-- New line -->
        <p>Mise en production d’un AD et de GPOs sur les deux sites de l’entreprise.</p>
        <br> <!-- New line -->
		<p>Mise en production d’un script Shell de gestion de certificats TLS via Let’s Encrypt.</p>
        <br> <!-- New line -->
		<p>Gestion des playbooks Ansible (IaC).</p>
        <br> <!-- New line -->
		<p>Mise en place de la gestion du parc de machines.</p>
    </article>
    <article>
        <header>
            <h1>Administrateur des opérations</h1>
            <span><address>Thales, Elancourt, FR</address><time>2019 - 2021</time></span>
        </header>
        <p>Administration MCO N2 sur des environnements confidentiels.</p>
        <br> <!-- New line -->
		<p>Technologies utilisées : Linux/Unix (Redhat, Aix et Debian), Windows Server, Ansible, Apache, Tomcat, Git, Netbackup, suite Vmware (vRa, vRo, vSphere), Dynatrace, Opcon, Powershell, Shell, Nagios, Centreon.</p>
        <br> <!-- New line -->
		<p>Mise en production de serveurs, décommissionement, troubleshooting.</p>
        <br> <!-- New line -->
        <p>Habilitation CD/SD (justice et défense).</p>
    </article>
    <article>
        <header>
            <h1>Analyste support 2/8</h1>
            <span><address>Thales, Elancourt, FR</address><time>2015 - 2019</time></span>
        </header>
        <p>Poste en horaires décalés pour du support N1-N2 bilingue anglais.</p>
        <br> <!-- New line -->
		<p>Technologies utilisées : Linux/Unix (Redhat, CentOS), Windows Server, Netbackup, vSphere, Powershell, Shell, Nagios, Centreon.</p>
        <br> <!-- New line -->
		<p>Analyse, pilotage et résolution d’incidents majeurs (en France et à l’international).</p>
        <br> <!-- New line -->
		<p>Intégration de nouveaux clients et processus au sein du service.</p>
        <br> <!-- New line -->
		<p>Participation aux astreintes.</p>
        <br> <!-- New line -->
		<p>Capitalisation du savoir, récupération de compétences, rédaction de documentations techniques et formation de l'équipe.</p>
    </article>
    <article>
        <header>
            <h1>Analyste support client</h1>
            <span><address>Econocom, Elancourt, FR</address><time>2014 - 2015</time></span>
        </header>
        <p>Support client en prestation pour Thales.</p>
        <br> <!-- New line -->
		<p>Technologies utilisées :  Linux/Unix (Redhat), Windows Server, suite Windows, vSphere, SCCM.</p>
        <br> <!-- New line -->
		<p>Administration de l’Active Directory des différentes entités françaises.</p>
        <br> <!-- New line -->
		<p>Gestion de la queue d’appels et support des utilisateurs.</p>
        <br> <!-- New line -->
		<p>Installation à distance de programmes via SCCM.</p>
	</article>
    <article>
        <header>
            <h1>Chargé de mission</h1>
            <span><address>CER SNCF, Paris, FR</address><time>2012 - 2014</time></span>
        </header>
        <p>Support des utilisateurs sur les sites du CER.</p>
        <br> <!-- New line -->
        <p>Technologies utilisées : suite Windows, Linux/Unix (Ubuntu).</p>
        <br> <!-- New line -->
        <p>Mise en place d’un inventaire du parc informatique.</p>
        <br> <!-- New line -->
        <p>Mise en place d’un SIGB.</p>
        <br> <!-- New line -->
        <p>Interventions ponctuelles sur les systèmes et le réseau de l’entreprise.</p>
    </article>
</section>
