<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.name }}">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="{{ site.baseurl }}static/css/base.css">
    <link rel="stylesheet" href="{{ site.baseurl }}static/css/skeleton.css">
    <link rel="stylesheet" href="{{ site.baseurl }}static/css/layout.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->

    <link rel="icon" href="{{ site.baseurl }}static/img/favicon.ico">
    <!-- <link rel="apple-touch-icon" href="static/img/me-icon-57.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="72x72" href="static/img/me-icon-72.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="114x114" href="static/img/me-icon-114.png"> -->
    <!-- <script defer data-domain="maxime.info" src="https://plausible.maxime.info/js/plausible.js"></script> -->
    
</head>
<body>
<div class="container">
    <header class="three columns">
        <img src="{{ site.baseurl }}static/img/profile.png" class="me">
        <h1>{{ site.name }}</h1>
        <address>
            <a href="{{ site.google_maps }}">
                {{ site.address.city }}<br/>
                {{ site.address.country }}
            </a>
        </address>
        <p>
			<a>{{ site.email }}</a><br/>
        </p>
        <p>
            <a href="https://linkedin.com/{{ site.linkedin }}"><i class="fa fa-linkedin"></i> Linkedin</a>
        </p>
    </header>
    <div class="thirteen columns clearfix">

        {{ content }}

    </div>
</div>
</body>
</html>
